@model Jfi.Matomo.Demo.Pages.Shared.MatomoPartialModel


<script type="text/javascript">
    var _pag = window._paq || [];
    @Model.DisableCookieTimeoutExtensionScript
    @Model.PrependDomainToTitleScript
    @Model.ClientDoNotTrackDetectionScript
    @Model.RequireConsentScript
    @Model.RequireCookieConsentScript
    @Model.HasConsentScript
    @Model.HasCookieConsentScript
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);

    (function() {
        var u = '{trackerUrl}';
        _paq.push(['setTrackerUrl', u + 'matomo.php']);
        _paq.push(['setSiteId', '{siteId}']);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
    })();
</script>
@if (Model.NoScriptTrackingImgSrc is not null)
{
    <noscript><p><img src="@Model.NoScriptTrackingImgSrc.ToString()" style="border:0;" alt="" /></p></noscript>
}